.landing-container {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.slideshow-slider {
    display: flex;
    margin-top: 8rem;
    width: 100%; 
    scroll-snap-type: x mandatory; 
    overflow-x: auto;
    scrollbar-width: none;
    animation: auto-slide 3s infinite;
}

.slideshow-slider::-webkit-scrollbar {
    display: none; 
}

.slide-content {
    height: 50rem;
    flex: 0 0 100%; /* Each slide takes up the full viewport width */
    scroll-snap-align: start; /* Snap to the center */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Scale image to cover the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Avoid repeating the image */
}


.slide-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.slide-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide-text {
    color: rgb(52, 52, 52);
    position: relative;
    width: 40rem;
    height: 30rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: -3rem;
    margin-top: -4rem;
    line-height: 1.5;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.slide-header {
    font-size: 42px;
    color: #373737;
    z-index: 2;
}

.slide-button {
    width: 15rem;
    height: 3rem;
    border-radius: 30px;
    border: 10;
    border-color: #3c3c3c;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 3;
}

.slide-button:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.slide-arrows {
    position: absolute; 
    width: 100%; 
    top: 50%; 
    z-index: 4;
    display: flex;
    justify-content: space-between;
    pointer-events: none; 
}

.slide-content {
    position: relative;
    height: 40rem;
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    overflow: hidden; 
}

.prev-slide,
.next-slide {
    cursor: pointer;
    color: rgb(109, 109, 109);
    font-weight: bold;
    font-size: 32px;
    pointer-events: all;
    padding: 0.5rem; 
    transition: font-size 0.15s ease, color 0.3s ease;
}

.prev-slide {
    position: relative;
    left: 1rem; 
}

.next-slide {
    position: relative;
    right: 1rem; 
}

.prev-slide:hover,
.next-slide:hover {
    font-size: 36px;
    color: #000000;
  }

